[settings]
strict = true
verbose = true
debug = false

site_dir = "site"
build_dir = "build"

# Pages with other extensions are considered static assets
# and copied to build/ unchanged
page_file_extensions = ["html", "md", "rst", "adoc"]
# Drafts use .htm
ignore_extensions = ["htm", "markdown", "htm~", "html~"]

# Treat files as content to insert in the template,
# unless they have an <html> element in them.
generator_mode = true
complete_page_selector = "html"

# Set the document type to HTML5, unless the page already has
# a doctype declaration.
doctype = "<!DOCTYPE html>"
keep_doctype = true
pretty_print_html = true

clean_urls = true
plugin_discovery = true
plugin_dirs = ["plugins"]

default_template_file = "templates/post.html"
# The content will be inserted into element selected by default_content_selector,
default_content_selector = "article"
default_content_action = "prepend_child"

[templates.post-index]
file = "templates/post-index.html"
path_regex = '(\/posts.html|\/articles.html|\/collections\/.*|\/[0-9]{4}\/index.md)$'
content_selector = "main"
content_action = "append_child"

[templates.home-page]
file = "templates/home-page.html"
page = ["index.html"]
content_selector = "main"
content_action = "append_child"

[templates.notes-page]
file = "templates/notes-page.html"
page = ["notes.html"]
content_selector = "main"
content_action = "append_child"

[templates.info-page]
file = "templates/info-page.html"
page = ["about.html", "about-website.html", "cv.html", "accessibility-statement.html"]
content_selector = "main"
content_action = "append_child"

[preprocessors]
md = "cmark --unsafe --smart"

[index]
index = true
index_first = true
exclude_page = ["cv.html", "accessibility-statement.html", "about.html", "about-website.html", "books.html"]
# Treat a folder containing an index.html and a .leaf file as a normal page. This allows putting assets (e.g., images) of a page alongside itself)
# https://soupault.app/reference-manual/#treating-index-pages-as-normal-pages
leaf_file = ".leaf"
sort_by = "published"
sort_type = "calendar"
sort_descending = true
# Formats: https://man7.org/linux/man-pages/man1/date.1.html
date_formats = ["%Y-%m-%dT%H:%M:%SZ"]
extract_after_widgets = ["populate-author-info", "populate-metadata"] # so that author_name can be extracted as an index field

dump_json = "index.json"

[index.fields.title]
selector = [".p-name", ".e-summary", ".e-content > p"] # .e-summary and .e-content so that notes indexed in a collection are not left title-less and useless

[index.fields.id]
selector = [".h-entry[itemid]"]
extract_attribute = "itemid"
fallback_to_content = false

[index.fields.collections]
selector = [".p-category"]
select_all = true

[index.fields.published]
selector = [".dt-published"]
extract_attribute = "datetime"
fallback_to_content = false

[index.fields.published_text]
selector = [".dt-published"]

[index.fields.updated]
selector = [".dt-updated"]
extract_attribute = "datetime"
fallback_to_content = false

[index.fields.updated_text]
selector = [".dt-updated"]

[index.fields.author_name]
selector = [".p-author", ".h-card p-name"]

[index.fields.excerpt]
selector = [".e-summary", ".e-content > p", "hgroup ~ p"]

[index.fields.content]
selector = [".e-content"]

[index.views.all-posts]
path_regex = '^(.*)/[0-9]{4}/.*\.(html|md)$'
index_selector = ".all-posts"
index_template = """
  <h1> All posts </h1>
  <ol class='all-posts' reversed='reversed'>
  {% for e in entries %}
  <li>
    {% if "Note" in e.collections %}
      <div class="note">
        <div>{{e.content}}</div>
        <p><time class="post-timestamp" datetime="{{e.published}}">{{e.published_text}}</time></p>
      </div>
    {% else %}
      <p><a class="post-title" href="{{e.url}}">{{e.title}}</a><time class="post-timestamp" datetime="{{e.published}}"> {{e.published_text}}</time></p>
    {% endif %}
  </li>
  {% endfor %}
  </ol>
  """
file = "index_processors/all-posts.lua"

[index.views.all-articles]
path_regex = '^(.*)/[0-9]{4}/.*\.(html|md)$'
index_selector = ".all-articles"
index_template = """
  <h1> All articles </h1>
  <ol class='all-articles' reversed='reversed'>
  {% for e in entries %}
  <li>
    <p><a class="post-title" href="{{e.url}}">{{e.title}}</a><time class="post-timestamp" datetime="{{e.published}}"> {{e.published_text}}</time></p>
  </li>
  {% endfor %}
  </ol>
  """
file = "index_processors/all-articles.lua"

[index.views.all-notes]
path_regex = '^(.*)/[0-9]{4}/.*\.(html|md)$'
index_selector = ".all-notes"
index_template = """
  <h1> All notes </h1>
  <p> These are entries, for which either I could not find a heading, or the content is short enough to fit into a heading. </p>
  <ol reversed="reversed">
  {% for e in entries %}
    <li>
    <article class="note">
      <p>Posted on <a href="{{e.url}}"><time datetime="{{e.published}}">{{e.published_text}}</time></a> in {% for c in e.collections %} <a class="p-category" href="/collections/{{c}}">{{c}}</a> {%endfor%}</p>
      <div>{{e.content}}</div>
    </article>
    </li>
  {% endfor %}
  </ol>
  """
file = "index_processors/all-notes.lua"

[index.views.yearly-posts]
index_selector = ".yearly-posts"
index_item_template = """
  <li>
    {% if "Note" in collections %}
      <div class="note">
        <div>{{content}}</div>
        <p><time class="post-timestamp" datetime="{{published}}">{{published_text}}</time></p>
      </div>
    {% else %}
      <p><a href="{{url}}">{{title}}</a><time class="post-timestamp" datetime="{{published}}"> {{published_text}}</time></p>
    {% endif %}
  </li>
  """

[index.views.recent-posts]
path_regex = '^(.*)/[0-9]{4}/.*\.(html|md)$'
max_items = 5
index_selector = ".recent-posts"
index_item_template = """
  <li>
    {% if "Note" in collections %}
      <div class="note">
        <div>{{content}}</div>
        <p><time class="post-timestamp" datetime="{{published}}">{{published_text}}</time></p>
      </div>
    {% else %}
      <p><a href="{{url}}">{{title}}</a><time class="post-timestamp" datetime="{{published}}"> {{published_text}}</time></p>
    {% endif %}
  </li>
  """

[index.views.collections]
index_selector = ".collections"
path_regex = '^(.*)/[0-9]{4}/.*\.(html|md)$'
url_path = "collections"
index_template = """
  <ol class="collection" reversed="reversed">
  {% for e in entries %}
  <li>
    {% if "Note" in e.collections %}
      <div class="note">
        <div>{{e.content}}</div>
        <p><time class="post-timestamp" datetime="{{e.published}}">{{e.published_text}}</time></p>
      </div>
    {% else %}
      <p><a href="{{e.url}}">{{e.title}}</a><time class="post-timestamp" datetime="{{e.timestamp}}"> {{e.date}}</time></p>
    {% endif %}
  </li>
  {% endfor %}
  </ol>
  """
file = "index_processors/collection-index.lua"

[widgets.populate-head]
widget = "insert_html"
selector = "head"
action = "prepend_child" # so that anything may be overridden by specifying in the template page.
parse = true
html = """
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>
    <!-- Will be inserted by [widgets.page-title] configuration in soupault.toml -->
  </title>
  <link rel="icon" href="/static/images/favicon.png">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/utility.css">
  <link rel="stylesheet" href="/css/layout/cluster.css">
  <link rel="stylesheet" href="/css/components/main-nav.css">
  <link rel="stylesheet" href="/css/components/post-index.css">
  <link rel="stylesheet" href="/css/components/index.css">
  <link rel="stylesheet" href="/css/components/indieweb.css">
  <link rel="stylesheet" href="/css/components/site-title.css">
  <link rel="stylesheet" href="/css/components/toc.css">
  <link rel="stylesheet" href="/css/components/note.css">
  <link rel="stylesheet" href="/css/print.css">
  <link rel="me" href="mailto:jayesh@bhoot.dev">
  <script src="/index.js"></script>
"""

[widgets.add-homepage-header]
widget = "insert_html"
selector = ".placeholder-homepage-header"
action = "replace_element"
parse = true
html = """
<div class="h-card">
  <h1 class="site-title text-align:right">
    <!-- Content inserted by soupault widget -->
  </h1>
  <nav class="main-nav">
    <!-- Content inserted by soupault widget -->
  </nav>
</div>
"""

[widgets.add-otherpage-header]
widget = "insert_html"
selector = ".placeholder-header"
action = "replace_element"
parse = true
html = """
<div class="h-card">
  <p class="site-title text-align:right">
    <!-- Content inserted by soupault widget -->
  </p>
  <nav class="main-nav">
    <!-- Content inserted by soupault widget -->
  </nav>
</div>
"""

[widgets.populate-main-nav]
widget = "insert_html"
selector = ".main-nav"
after = ["add-homepage-header", "add-otherpage-header"]
parse = true
html = """
<ul class="cluster" style="justify-content:flex-end;">
  <!--<li><a href="/">Home</a></li>-->
  <li><a href="/about">About me</a></li>
  <li><a href="/books">Reading</a></li>
  <li><a href="/posts">Writing</a></li>
  <!--<li><a href="/articles">Articles</a></li>-->
  <!--<li><a href="/notes">Notes</a></li>-->
  <li><a href="/collections">Collections</a></li>
  <li>Projects</li>
  <li>Hire</li>
  <li><a href="/feed.xml">Atom Feed</a></li>
</ul>
"""

[widgets.populate-site-title]
widget = "insert_html"
selector = ".site-title"
after = ["add-homepage-header", "add-otherpage-header"]
parse = true
html = """
<img
    alt="This is what Jayesh Bhoot looks like, with a lopsided smile on its right, which almost closes his right eye while smiling, which strongly implies that he needs to work on his lazy left-side cheek muscles."
    class="profile-pic-closeup"
    height="35"
    src="/static/images/profile-pic-closeup-round.png"
    width="35"
  />
<a class="u-url" href="/" rel="author">
  <span class="site-title-blinker"
        title="because my last name means 'Ghost' in some Indian languages"><span><span class="p-name">Jayesh <span class="p-nickname p-family-name">Bhoot</span></span><span>&apos;s</span></span> Gh<span class="blinketh-the-first">o</span>st
  T<span class="blinketh-the-second">o</span>wn</span></a>
"""

[widgets.add-footer]
widget = "insert_html"
selector = "body"
action = "append_child"
parse = true
html = """
<footer>
  <p class="cluster justify-content:flex-end"> <a href="/about-website">About this website</a> <a href="/accessibility-statement">Accessibility statement</a> </p>

  <address class="social"><p class="cluster justify-content:flex-end">
    <a href="mailto:hi@bhoot.dev" rel="me" class="u-email" target="_self" ><img alt="GitHub." src="/static/images/email.svg" width="30" style="vertical-align: middle;"></a>
    <a href="https://github.com/jbhoot" rel="me"><img alt="Link to my GitHub account @jbhoot" src="/static/images/github.svg" width="30" style="vertical-align: middle;"></a>
    <a href="https://lobste.rs/~bhoot" rel="me"><img alt="Link to my lobsters account @bhoot" src="/static/images/lobsters.svg" width="30" style="vertical-align: middle;"></a>
    <a href="https://linkedin.com/in/jbhoot" rel="me"><img alt="Link to my LinkedIn account" src="/static/images/linkedin.svg" width="30" style="vertical-align: middle;"></a>
    <a href="https://bsky.app/profile/bhoot.dev" rel="me"><img alt="Link to my bluesky account @bhoot.dev" src="/static/images/bluesky.svg" width="32" style="vertical-align: middle;"></a>
    <a href="https://mastodon.pub.solar/@bhoot" rel="me"><img alt="Link to my mastodon account" src="/static/images/mastodon.svg" width="32" style="vertical-align: middle;"></a>
  </p></address>
</footer>
"""

[widgets.populate-author-info]
widget = "insert_html"
after = "populate-metadata"
selector = ".h-entry"
action = "append_child"
parse = true
html = """
<p class="visually-hidden">
  <img alt="Post author's photo" class="u-photo"  src="/static/images/profile-pic-closeup-round.png" width="60">
  <span>
    <span>Written by <a class="p-author h-card" href="https://bhoot.dev/about">Jayesh Bhoot</a></span>
  </span>
</p>
"""

[widgets.populate-metadata]
path_regex = '^(.*)/[0-9]{4}/.*\.(html|md)$'
exclude_path_regex = '^(.*)/[0-9]{4}/index\.html$'
widget = "populate-metadata"

[widgets.page-title]
widget = "title"
after = "populate-head"
default = "Jayesh Bhoot's Website"
selector = ["p.title", "h1"]
append = " | Jayesh Bhoot"

# Look at https://soupault.app/blog/toc/ for more options
[widgets.table-of-contents]
widget = "toc"
# selector = "hgroup:has(h1)"
selector = ".toc"
action = "append_child"
min_level = 2
max_level = 6
numbered_list = true
use_heading_slug = true
toc_list_class = "toc"
toc_class_levels = true
ignore_heading_selectors = [".no-toc"]
heading_links = false
heading_link_class = "toc-heading-link"
heading_link_text = "ยง" # silcrow sign / section sign
heading_links_append = false
valid_html = true

[widgets.populate-toc-heading]
widget = "populate-toc-heading"

[widgets.delete_draft_content]
widget = "delete_element"
selector = ".draft"

[widgets.analytics]
profile = "production"
widget = "insert_html"
parse = true
html = "<script data-goatcounter='https://bhoot.goatcounter.com/count' async src='//gc.zgo.at/count.js'></script>"
selector = "body"
action = "append_child"
