/* box deals with following properties:
 * padding (all or none),
 * border/outline (all or none),
 * background-color,
 * color
 */

.box {
    --box-padding: var(--s0, 1rem);
    --box-border: var(--border-thin) solid var(--border-dark);
    --box-color-bg: inherit;
    --box-color-fg: inherit;

    display: block;
    padding: var(--box-padding);
    border: var(--box-border);
    background-color: var(--box-color-bg);
    color: var(--box-color-fg);
}

.box.borderless {
    border: 0 solid;
    outline: var(--border-thin) solid transparent;
    outline-offset: calc(var(--border-thin) * -1);
}

.box.coloured {
    --color-light: #fff;
    --color-dark: #000;

    color: var(--color-dark);
    background-color: var(--color-light);
}

.box.coloured * {
    color: inherit;
}

.box.coloured.invert {
    color: var(--color-light);
    background-color: var(--color-dark);
}