.box {
    --box-padding: var(--s0, 1rem);
    display: block;
    border: var(--border-thin) solid var(--color-border);
    border-radius: var(--border-radius-sz0);
    padding: var(--box-padding);
}

.box-borderless {
    --box-padding: var(--s0, 1rem);
    display: block;
    border: 0 solid;
    border-radius: var(--border-radius-sz0);
    padding: var(--box-padding);
    outline: var(--border-thin) solid transparent;
    outline-offset: calc(var(--border-thin) * -1);
}