.cluster {
    --cluster-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-gap);
    justify-content: flex-start;
    align-items: flex-start;
}

.cluster>*+* {
    margin-block-start: 0;
}

.cluster-split {
    margin-inline-start: auto;
}
