.flex-grid {
    --flex-grid-gap: var(--s0, 1rem);
    --flex-grid-align-items: stretch;
    --flex-grid-ideal-inline-size: 30ch;

    display: flex;
    flex-wrap: wrap;
    align-items: var(--flex-grid-align-items);
    gap: var(--flex-grid-gap);
}

.flex-grid > * {
    flex: 1 1 var(--flex-grid-ideal-inline-size);
}

.flex-grid > * + * {
    margin-block-start: 0;
}