.grid {
    --grid-gap: var(--s0, 1rem);
    --grid-align-items: stretch;
    --grid-item-max-width: 1fr;

    display: grid;
    align-items: var(--grid-align-items);
    grid-gap: var(--grid-gap);
}

@supports (width: min(30ch, 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), var(--grid-item-max-width)));
    }
}

.grid > * + * {
    /* Reset the owl selector spacing */
    margin-block-start: 0;
}