html {
    /* for the body tag to have a specified height in %,
       its parent html needs to have a specified height.
       html being the first ancestor, 100% works in itself. */
    height: 100%;
}
body {
    /* for flex-children to fill up extra space,
       flex parent needs to have a specified height. */
    height: 100%; 

    margin: 0; /* else vertical scrollbar appears */
    padding: 5px;

    display: flex;
    flex-direction: column;
}


.header {
    margin-left: 15px;
    margin-top: 15px;
}
.main {
    /* main is a flex-child for body */
    flex: 1; 

    /* main is also a flex-parent itself */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    margin-left: 15px;
    margin-top: 20px;
}
.footer {
    margin: 10px;
    text-align: center;    
}


.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-menu ul li {
    font-size: 1.1em;
    display: inline-block;
    margin-right: 15px;
}


.cell {
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(56, 14, 66);
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
.cell-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.web-presence {
    font-style: normal;
}
.web-presence ul {
    list-style: none;
    padding: 0;
}
.web-presence ul li {
    margin-top: 7px;
}

.article-list {
    list-style: none;
    padding: 0;
}
.article-list li {
    margin-top: 7px;
}
