html {
    /* for the body tag to have a specified height in %,
       its parent html needs to have a specified height.
       html being the first ancestor, 100% works in itself. */
    height: 100%;
}
body {
    /* for flex-children to fill up extra space,
       flex parent needs to have a specified height. */
    height: 100%; 

    margin: 0; /* else vertical scrollbar appears */
    padding: 5px;

    display: flex;
    flex-direction: column;
}


.header {
    margin-left: 15px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main {
    /* main is a flex-child for body */
    flex: 1; 

    /* main is also a flex-parent itself */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    margin-left: 15px;
    margin-top: 20px;
}
.footer {
    margin: 10px;
    text-align: center;    
}

.header-title {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 5px;
}


.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-menu ul li {
    font-size: 1.1em;
    display: inline-block;
    margin-right: 15px;
}


.cell {
    border-radius: 3px;
    box-shadow: 0 0 7px #A020F0;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
.cell-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.web-presence {
    font-style: normal;
}
.web-presence ul {
    list-style: none;
    padding: 0;
}
.web-presence ul li {
    margin-top: 15px;
}

.article-list {
    list-style: none;
    padding: 0;
}
.article-list li {
    margin-top: 7px;
}

.label {
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}
.label-email {
    background-color: #A020F0;
    color: #FFFFFF;
}
.label-github {
    background-color: #24292E;
    color: #FFFFFF;
}
.label-twitter {
    background-color: #1DA1F2;
    color: #FFFFFF;    
}
.label-stackoverflow {
    background-color: #F48024;
    color: #000000;
}
.label-medium {
    background-color: #191716;
    color: #E8E8E7;
}
.label-linkedin {
    background-color: #0077B5;
    color: #FFFFFF;
}
