/* default font-weights are usually:
// light => 300
// normal => 400
// medium => 500
// semi-bold => 600
// bold => 700
src: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight  */

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  /* 100 900 => the font supports weights between 100 and 900. */
  font-weight: 100 900;
  src: url('/static/fonts/Lexend/Lexend-Variable.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: italic;
  font-weight: 100 900;
  src: url('/static/fonts/Lexend/Lexend-Variable.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/CascadiaMono/CascadiaMono-Variable.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/CascadiaMono/CascadiaMonoItalic-Variable.woff2') format('woff2');
}