/* default font-weights are usually:
// light => 300
// normal => 400
// medium => 500
// semi-bold => 600
// bold => 700
src: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight  */

@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    font-style: normal;
    src: local("PT Sans Regular"), url("/static/fonts/pt-sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    font-style: italic;
    src: local("PT Sans Italic"), url("/static/fonts/pt-sans/PTSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    font-style: normal;
    src: local("PT Sans Bold"), url("/static/fonts/pt-sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    font-style: italic;
    src: local("PT Sans Bold Italic"), url("/static/fonts/pt-sans/PTSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-weight: normal;
    font-style: normal;
    src: local("Gentium Book Plus"), local("GentiumBookPlus"), url("/static/fonts/gentium-book-plus/GentiumBookPlus-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-weight: normal;
    font-style: italic;
    src: local("Gentium Book Plus"), local("GentiumBookPlus-Italic"), url("/static/fonts/gentium-book-plus/GentiumBookPlus-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-weight: bold;
    font-style: normal;
    src: local("Gentium Book Plus Bold"), local("GentiumBookPlus-Bold"), url("/static/fonts/gentium-book-plus/GentiumBookPlus-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-weight: bold;
    font-style: italic;
    src: local("Gentium Book Plus Bold Italic"), local("GentiumBookPlus-BoldItalic"), url("/static/fonts/gentium-book-plus/GentiumBookPlus-BoldItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Averia Serif Libre";
    font-weight: normal;
    font-style: normal;
    src: local("Averia Serif Libre Regular"), url("/static/fonts/averia-serif-libre/AveriaSerifLibre-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Averia Serif Libre";
    font-weight: normal;
    font-style: italic;
    src: local("Averia Serif Libre Italic"), url("/static/fonts/averia-serif-libre/AveriaSerifLibre-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Averia Serif Libre";
    font-weight: bold;
    font-style: normal;
    src: local("Averia Serif Libre Bold"), url("/static/fonts/averia-serif-libre/AveriaSerifLibre-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Averia Serif Libre";
    font-weight: bold;
    font-style: italic;
    src: local("Averia Serif Libre Bold Italic"), url("/static/fonts/averia-serif-libre/AveriaSerifLibre-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Averia Serif Libre";
    font-weight: 300;
    font-style: normal;
    src: local("Averia Serif Libre Light"), url("/static/fonts/averia-serif-libre/AveriaSerifLibre-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Averia Serif Libre";
    font-weight: 300;
    font-style: italic;
    src: local("Averia Serif Libre Light Italic"), url("/static/fonts/averia-serif-libre/AveriaSerifLibre-LightItalic.ttf") format("truetype");
}
