*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*Ref: https://every-layout.dev/rudiments/modular-scale/*/
    /*See https://type-scale.com and https://www.modularscale.com/*/
    /*to play with other values.*/
    --base-size: 1rem;
    --ratio: 1.25;
    --measure: 60ch;
    line-height: 1.5;

    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: var(--base-size);
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));

    --padding-large: calc(var(--s0) + 2vw);
    --padding: calc(var(--s0) + 0.25vw);

    --border-thin: 1px;
    --color-border: black;
}

html {
    /*block-size: 100%;*/
}

body {
    /*block-size: 100%;*/
    font-family: 'PT Sans', sans-serif;
    font-size: calc(var(--s0) + 0.25vw);
}

* {
    max-inline-size: var(--measure);
}

/* Make every img responsive by default.
 * As recommended by Every Layout - The Frame */
img {
    max-inline-size: 100%;
}

/*
The point of using measure is to limit each column of *content* to a readable length.
There might as well be multiple such columns horizontally.
Each column length ideally is equal to the value of the measure. ￼
So the exceptions to the rule that applies measure should be those elements which could be used to lay out horizontal columns of content. ￼
 */
html,
body,
div {
    max-inline-size: none;
}

body * + * {
    margin-block-start: 1em;
}

hgroup > * + * {
    margin-block-start: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Averia Serif Libre', 'Gentium Book Plus', 'PT Serif', serif;
}

h1,
h2,
h3 {
    line-height: 1.25;
}

caption,
figcaption {
    font-family: "Averia Serif Libre", "Gentium Book Plus", serif;
    font-size: 0.9em;
    font-style: italic;
    margin-block-start: 0;
}

caption {
    text-align: left;
    caption-side: bottom;
}

code {
    font-family: Courier, "Courier New Bold", monospace;
    padding-inline: 3px;
    outline: 1px solid #f3efef;
}

pre {
    outline: 1px solid black;
    padding: var(--padding);
    color: black;
    overflow: auto;
}

:is(h1, h2, h3, h4, h5, h6) code,
a code,
pre > code {
    outline: none;
    padding-inline: 0;
    margin-inline: inherit;
}

img {
    outline: 1px solid black;
}

ins {
    text-decoration: none;
    background-color: rgba(0, 128, 0, 0.2);
    padding: 0 4px 0 0;
}

ins::before {
    content: "+ " attr(datetime);
    background-color: green;
    color: white;
    padding: 0 4px 0 4px;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #e0e0e0;
    padding: var(--s-2) var(--s-1);
    text-align: left;
}

tr:hover {
    background-color: #f0f0f0;
}

a {
    text-underline-offset: 0.25em;
    text-decoration-thickness: 2px;
}

a:hover {
    outline: 2px solid;
    outline-offset: 1px;
    background-color: bisque;
    text-decoration: none;
}

nav ul {
    list-style: none;
}