:root {
    --ratio: 1.125;
    --base-size: calc(1rem * var(--ratio));
    --measure: 65ch;

    line-height: 1.5;
    font-size: calc(var(--base-size) + 0.25vw);
    font-family: 'PT Sans', 'Atkinson Hyperlegible', sans-serif;

    counter-reset: h2 h3 h4 h5 h6;
}

* {
    max-inline-size: var(--measure);
}

*+* {
    margin-block-start: 1em;
}

html {
    max-inline-size: none;
}

body {
    max-inline-size: calc(var(--measure) * 1.5);
    margin: auto;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

h2::before {
    counter-increment: h2;
    content: counter(h2);
    counter-set: h3 0;
    color: lightgray;
}

h3::before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    counter-set: h4 0;
    color: lightgray;
}

h4::before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    counter-set: h5 0;
    color: lightgray;
}

h5::before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
    counter-set: h6 0;
    color: lightgray;
}

h6::before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
    color: lightgray;
}

h2:has(.commentLoader)::before {
    content: '';
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

nav > ul > li + li {
    margin-block-start: 0;
}