:root {
    --base-size: 1rem;
    --ratio: 1.25;
    --measure: 65ch;
    --s0: var(--base-size);
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));
    --s7: calc(var(--s6) * var(--ratio));
  
    line-height: 1.5;
    counter-reset: h2 h3 h4 h5 h6;
}
}

body {
    max-inline-size: var(--measure);
    font-size: var(--s1);
}


h2::before {
    counter-increment: h2;
    content: counter(h2);
    counter-set: h3 0;
    color: lightgray;
}

h3::before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    counter-set: h4 0;
    color: lightgray;
}

h4::before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    counter-set: h5 0;
    color: lightgray;
}

h5::before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
    counter-set: h6 0;
    color: lightgray;
}

h6::before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
    color: lightgray;
}

h2:has(.commentLoader)::before {
    content: '';
}

}