body {
    font-family: sans-serif;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

code,
pre {
    font-family: Menlo, Consolas, monospace;
    font-size: 1rem;
}

code {
    background-color: #f5ebdf;
    padding: 2px 4px;
    border-radius: 4px;
}