*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*Ref: https://every-layout.dev/rudiments/modular-scale/*/
    /*See https://type-scale.com and https://www.modularscale.com/*/
    /*to play with other values.*/
    --base-size: 1rem;
    --ratio: 1.25;
    --measure: 75ch;
    line-height: 1.5;

    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: var(--base-size);
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
}

body {
    font-size: calc(var(--s0) + 0.5vw);
    font-family: "Gentium Plus", serif;
    background-color: #f3f3f3;
    padding: var(--s0) var(--s4);
}

* {
    max-inline-size: var(--measure);
}

/*
The point of using measure is to limit each column of *content* to a readable length.
There might as well be multiple such columns horizontally.
Each column length ideally is equal to the value of the measure. ￼
So the exceptions to the rule that applies measure should be those elements which could be used to lay out horizontal columns of content. ￼
 */
html,
body,
section,
nav,
header,
footer,
ol,
ul,
dl,
menu,
main,
div,
form,
fieldset,
hgroup,
h1,
table,
tbody,
tr,
canvas,
svg {
    max-inline-size: none;
}

body * + * {
    margin-top: 1em;
}

h1, h2, h3 {
    font-family: "PT Sans", sans-serif;
    line-height: 1.1;
}

h1 {
    font-size: var(--s4);
}

h2 {
    font-size: var(--s3);
}

h3 {
    font-size: var(--s2);
}

hgroup > * + *
{
    margin-top: 2px;
}

figure {
    display: inline-block;
}

figure > * + figcaption {
    margin-top: 0;
}

figure,
table {
    outline: 1px solid black;
}

figcaption,
caption {
    padding: var(--s-4) var(--s-3);
    border-top: 1px solid black;
}

code {
    font-family: Monaco, Menlo, "DejaVu Sans Mono", Consolas, monospace;
    background-color: #DFDBC3;
    color: black;
    padding: 2px 4px;
    font-size: 0.8em;
}

pre {
    background-color: black;
    color: #28FE14;
    padding: var(--s-3) var(--s0);
    overflow: auto;
}

pre > code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}

ins {
    text-decoration: none;
    background-color: rgba(0, 128, 0, 0.2);
    padding: 0 4px 0 0;
}

ins::before {
    content: "+ " attr(datetime);
    background-color: green;
    color: white;
    padding: 0 4px 0 4px;
}

table {
    min-width: var(--measure);
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    /*border: 1px solid black;*/
    text-align: left;
    padding: var(--s-4);
}

tr:hover {
    background-color: mistyrose;
}

caption {
    text-align: left;
    /*width: 100%;*/
    caption-side: bottom;
}
