.margin-block-start\:2px {
    margin-block-start: 2px;
}

.font-size\:0\.9em {
    font-size: 0.9em;
}

.font-weight\:600 {
    font-weight: 600;
}

.font-size\:s1 {
    font-size: var(--s1);
}

.font-size\:s2 {
    font-size: var(--s2);
}

.font-size\:s3 {
    font-size: var(--s3);
}

.font-family\:sans-serif {
    font-family: var(--font-sans);
}

.background-color\:lavenderblush {
    background-color: lavenderblush;
}

.text-transform\:uppercase {
    text-transform: uppercase;
}

.list-style-type\:none {
    list-style-type: none;
}

.list-style-type\:disc {
    list-style-type: disc;
}

.padding\:0 {
    padding: 0;
}

.max-inline-size\:measure {
    max-inline-size: var(--measure);
}

.position\:relative {
    position: relative;
}

.align-items\:center {
    align-items: center;
}

.text-decoration\:none {
    text-decoration: none;
}