.margin-block-start\:2px {
    margin-block-start: 2px;
}

.font-size\:0\.9em {
    font-size: 0.9em;
}

.font-weight\:600 {
    font-weight: 600;
}

.font-size\:s1 {
    font-size: var(--s1);
}

.font-size\:s2 {
    font-size: var(--s2);
}