.site-title {
    font-family: 'Averia Serif Libre', 'Gentium Book Plus', serif;
    font-size: var(--s2);
    font-family: var(--font-sans);
    font-weight: 600;
    text-decoration: none;
    color: lightsalmon;
}

.site-nav {
    position: sticky;
    top: var(--s2);
    text-transform: lowercase;
}