.site-title {
    font-family: 'Averia Serif Libre', 'Gentium Book Plus', serif;
    font-size: var(--s2);
    font-weight: 600;
    text-decoration: none;
    color: lightsalmon;
}

.site-nav {
    font-family: 'Averia Serif Libre', 'Gentium Book Plus', serif;
    position: sticky;
    top: 10px;
}