.commentLoader {
    border: none;
    padding: var(--size-one-half-font-size);
    font-size: var(--base-font-size);
    border: var(--size-one-tenth-font-size) solid;
    border-bottom: var(--size-one-fourth-font-size) solid;
}

.copy-link {
    font-size: var(--base-font-size);
    vertical-align: text-top;
    margin-block-start: 0;
}

.copy-link > svg {
    vertical-align: middle;
}