p:has(.p-author)+p:has(.dt-published) {
    margin-block-start: 0;
}

.e-summary {
    font-size: 1.1em;
    font-style: italic;
}

.u-photo {
    vertical-align: middle;
    width: 60px;
    height: auto;
    outline: none;
}

.p-category {
}