.p-name {
}

p:has(.p-author)+p:has(.dt-published) {
    margin-block-start: 0;
}

.e-summary {
    font-style: italic;
    /* font-size: 1.1em; */
    background-color: lightyellow;
    padding: 0.5em;
}

.u-photo {
    vertical-align: middle;
    width: 60px;
    height: auto;
    outline: none;
}

.p-category {
}