p:has(.p-author)+p:has(.dt-published) {
    margin-block-start: 0;
}

.e-summary {
    /* font-size: 1.2em; */
}

.u-photo {
    vertical-align: middle;
    width: 60px;
    height: auto;
    outline: none;
}

.p-category {
    padding: 2px;
    /*background-color: white;
    text-decoration-thickness: 1px;*/
}