.note {
    font-size: 1.1em;
    max-inline-size: var(--measure);
    padding: 1em;
}

li:nth-of-type(even) > .note {
    background-color: #f2e499;
}

li:nth-of-type(odd) > .note {
    background-color: #ccccff;
}