.all-articles, .yearly-posts, .recent-articles {
    list-style-type: none;
    padding: 0;
}

.all-articles > * + *,
.yearly-posts > * + *,
.recent-articles > * + * {
    margin-block-start: var(--s6);
}

.post-listing {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--s0);
    align-items: baseline;
}

.post-listing > * + * {
    margin-block-start: 0;
}

.post-timestamp {
    display: grid;
    grid-template-columns: 6ch;
    grid-gap: 0;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    font-family: var(--font-monospaced-sans);
    font-size: 0.9em;
}

.post-timestamp > * {
    padding: 2px;
}

.post-timestamp > :first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #f72f22;
    color: white;
}

.post-timestamp > * + * {
    margin-block-start: 0;
}