:is(.all-posts, .yearly-posts, .recent-posts, .collections, .collection) li a {
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
}

:is(.all-posts, .yearly-posts, .recent-posts, .collections, .collection) li a:hover {
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}

.post-timestamp {
    font-family: var(--font-monospaced-sans);
    color: #555454;
}