.tag {
    border: 1px solid gray;
    font-size: 0.8em;
    border-radius: 2px;
    padding: 2px;
}

.tag + .tag {
    margin-inline-start: 10px;
}

.tags::before {
    content: "Tags";
}

.tags > * {
    background-color: #0097db;
    padding: 2px 4px;
    color: white;
}

.tags > * + * {
    margin-inline-start: 5px;
}