<html lang="en">

<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!--    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">-->
<link rel="icon" href="/static/favicon.png">
<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/utility.css">
<link rel="stylesheet" href="/css/layout/stack.css">
<link rel="stylesheet" href="/css/layout/sidebar.css">
<link rel="stylesheet" href="/css/layout/box.css">
<link rel="stylesheet" href="/css/layout/cluster.css">
<link rel="stylesheet" href="/css/layout/flex-grid.css">
<link rel="stylesheet" href="/css/layout/grid.css">
<link rel="stylesheet" href="/css/layout/center.css">
<link rel="stylesheet" href="/css/components/index.css">
<link rel="stylesheet" href="/css/components/apparate.css">
<title>
<!-- Will be inserted by [widgets.page-title] configuration in soupault.toml -->
</title>
<script src="/index.js"></script>
</head>

<body>

<div class="with-sidebar" style="--sidebar-gap: 0;">
<div class="box coloured invert no-print" style="--box-padding: var(--s3);">
<nav class="site-nav">
<!-- <a href="/" class="site-title" title="because my last name means 'Ghost' in some Indian languages">Gh<span>o</span>st t<span>o</span>wn</a> -->
<a href="/" class="site-title" title="because my last name means 'Ghost' in some Indian languages">Jayesh <span>B</span>ho<span>o</span>t</a>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/writings">Writings</a></li>
<li>Projects</li>
<li><a href="/cv">CV</a></li>
</ul>
</nav>
</div>
<div class="box borderless">
<main class="box center" style="--box-color-bg: var(--color-light-2);"></main>
</div>
</div>
</body>

</html>