<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="center stack" style="--stack-gap: 0;">
  <div class="box coloured invert position:relative">
    <div class="cluster" style="justify-content: space-between;">
      <a class="cluster site-title text-decoration:none" href="/" style="--cluster-gap: var(--s-4); ">
        <span>Jayesh Bhoot&apos;s</span>
        <span class="site-title-blinker"
              title="because my last name means 'Ghost' in some Indian languages">Gh<span>o</span>st
          T<span>o</span>wn</span>
      </a>
      <aside class="cluster no-touch">
        <a href="mailto:jysh@jysh.net">
          <img
          src="/static/images/email.svg"
          alt="Email." width="30"></a>
        <a href="https://github.com/jyssh">
          <img
          src="/static/images/github.svg"
          alt="GitHub." width="30"></a>
        <a href="https://linkedin.com/in/jyssh">
          <img
          src="/static/images/linkedin.svg"
          alt="LinkedIn." width="30"></a>
        <a href="https://x.com/jyssh_">
          <img src="/static/images/twitter.svg"
               alt="Link to my twitter account @jyssh_"
               width="30"></a>
        <a href="https://mastodon.social/@jyssh">
          <img
          src="/static/images/mastodon.svg"
          alt="Mastodon." width="30"></a>
      </aside>
    </div>

    <nav>
      <ul class="cluster">
        <li><a href="/">Home</a></li>
        <li><a href="/writings">Writings</a></li>
        <li>Projects</li>
        <li>CV</li>
      </ul>
    </nav>

    <div class="toc-wrapper">
      <div class="toc"></div>
    </div>
  </div>

  <main class="box" style="--box-color-bg: white;">
  </main>

  <div class="box" style="--stack-gap: var(--s0); --box-padding: var(--s-6); --box-color-bg: white;">
    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>commentBox('5752015045001216-proj')</script>
  </div>
</div>
</body>
</html>