<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="center stack" style="--stack-gap: 0;">
  <div class="box coloured invert position:relative">
    <div class="site-title-container">
      <div>
        <h1 class="font-family:sans-serif">
          <a class="cluster site-title text-decoration:none" href="/"
             style="--cluster-gap: var(--s-4);">
            <span>Jayesh Bhoot&apos;s</span>
            <span class="site-title-blinker"
                  title="because my last name means 'Ghost' in some Indian languages">Gh<span>o</span>st
          T<span>o</span>wn</span>
          </a>
        </h1>
        <aside class="cluster no-touch">
          <a href="mailto:jysh@jysh.net">
            <img
            src="/static/images/email.svg"
            alt="Email." width="30"></a>
          <a href="https://github.com/jyssh">
            <img
            src="/static/images/github.svg"
            alt="GitHub." width="30"></a>
          <a href="https://linkedin.com/in/jyssh">
            <img
            src="/static/images/linkedin.svg"
            alt="LinkedIn." width="30"></a>
          <a href="https://x.com/jyssh_">
            <img src="/static/images/twitter.svg"
                 alt="Link to my twitter account @jyssh_"
                 width="30"></a>
        </aside>
      </div>
      <div>
        <a href="/about">
          <img src="/profile-pic-closeup-round.png"
               alt="Profile pic closeup"
               class="profile-pic-closeup">
        </a>
      </div>
    </div>

    <nav>
      <ul class="cluster">
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
<!--        <li><a href="/journal">Journal</a></li>-->
        <li>Projects</li>
        <li>CV</li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>

  <main class="box borderless" style="--box-color-bg: white;">
  </main>
</div>
</body>

</html>