<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="box center stack" style="--stack-gap: 0; --box-padding: 0">
  <div class="box coloured invert position:relative">
    <div class="site-title-container">
      <div>
        <h1 class="site-title-wrapper font-family:sans-serif">
          <!-- Content inserted by soupault widget -->
        </h1>
        <aside class="social-links cluster no-touch">
          <!-- Content inserted by soupault widget -->
        </aside>
      </div>
      <div class="profile-pic-container">
        <!-- Content inserted by soupault widget -->
      </div>
    </div>

    <nav class="main-nav">
      <!-- Content inserted by soupault widget -->
    </nav>
  </div>

  <main class="box borderless">
  </main>
</div>
</body>

</html>