<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="box coloured invert">
  <div class="h-card cluster" style="align-items: center; max-inline-size: var(--measure); margin: auto;">
    <h1 class="site-title-wrapper font-family:sans-serif">
      <!-- Content inserted by soupault widget -->
    </h1>
    <nav class="main-nav cluster-split">
      <!-- Content inserted by soupault widget -->
    </nav>
  </div>
</div>

<main class="center" style="padding: 0 var(--s0);">
</main>

<div class="box coloured invert">
  <footer style="margin: auto">
    <aside class="social-links cluster no-touch">
      <!-- Content inserted by soupault widget -->
    </aside>
  </footer>
</div>

</body>

</html>