<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
   <style>
    body, main {
      max-inline-size: none;
    }
    main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(calc(var(--measure) * 0.5), 1fr));
      gap: var(--size-full-line-height);
    }

    main > * + * {
      margin-block-start: 0;
    }
   </style>
</head>

<body>
  <div class="placeholder-homepage-header"></div>
  <h1> All notes </h1>
  <main>
  </main>
</body>

</html>