<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
  <style>
    article {
      max-inline-size: var(--measure);
      border: 1px solid black;
      background-color: #efefef;
    }

    article>p {
      margin-block-start: 0;
      padding: 0.5em 1em;
      background-color: #fbcc6b;
    }

    article>div {
      padding: var(--size-full-font-size);
      padding-top: 0;
    }
  </style>
</head>

<body>
  <div class="placeholder-homepage-header"></div>
  <main></main>
</body>

</html>