<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/index.css">
    <title>
        <!-- Will be inserted by [widgets.page-title] configuration in soupault.toml -->
    </title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function styleSiteNavMenuAsStackOrCluster(query) {
                const siteNavMenuEle = document.querySelector('.site-nav > ul');
                if (query.matches) {
                    siteNavMenuEle.classList.remove('stack');
                    siteNavMenuEle.classList.add('cluster');
                } else {
                    siteNavMenuEle.classList.remove('cluster');
                    siteNavMenuEle.classList.add('stack');
                }
            }

            const mediaQuery = window.matchMedia('(width <= 70ch)');
            styleSiteNavMenuAsStackOrCluster(mediaQuery);
            mediaQuery.addEventListener('change', styleSiteNavMenuAsStackOrCluster);
        });
    </script>
</head>

<body>
<!-- <p class="apparate-parent">
<span class="animation-grow-up animation-delay:3s">j</span><span
    class="animation-apparate animation-delay:1s">a</span>y<span
    class="animation-apparate animation-delay:1s">e</span>sh <span
    class="animation-apparate animation-delay:2s"><span
        class="animation-grow-up animation-delay:3s">b</span></span><span
    class="animation-apparate animation-delay:2s">hoot</span>
</p> -->

<div class="with-sidebar"
     style="--sidebar-width: calc(var(--measure) * 0.3); --sidebar-main-min-width: 60%">
    <header class="box-borderless text-transform:uppercase background-color:lavenderblush"
            style="--box-padding: var(--s2);">
        <a href="/" class="site-title">Jayesh Bhoot</a>
        <nav class="site-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Writings</li>
                <li>About</li>
            </ul>
        </nav>
    </header>
    <main class="box-borderless" style="--box-padding: var(--s2)">
        <!-- This placeholder div is *replaced* with actual content,
        thus getting rid of unnecessary div element,
        and keeping HTML semantic. -->
    </main>
</div>
</body>

</html>