<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/index.css">
    <title>
        <!-- Will be inserted by [widgets.page-title] configuration in soupault.toml -->
    </title>
</head>

<body>
<!-- <p class="apparate-parent">
<span class="animation-grow-up animation-delay:3s">j</span><span
    class="animation-apparate animation-delay:1s">a</span>y<span
    class="animation-apparate animation-delay:1s">e</span>sh <span
    class="animation-apparate animation-delay:2s"><span
        class="animation-grow-up animation-delay:3s">b</span></span><span
    class="animation-apparate animation-delay:2s">hoot</span>
</p> -->
    <div class="with-sidebar" style="--sidebar-width: calc(var(--measure) * 0.25);">
        <header class="box-borderless" style="background-color: lavenderblush;">
            <a href="/" class="font-size:s2" style="text-decoration: none; color: lightsalmon; text-transform: uppercase; font-weight: 600;">Jayesh Bhoot</a>
            <nav style="position: sticky; top: 10px;">
                <ul class="stack font-size:s1" style="text-transform: uppercase;">
                    <li><a href="/">Home</a></li>
                    <li>Writings</li>
                    <li>About</li>
                </ul>
            </nav>
        </header>
        <main class="box-borderless">
            <!--
            This placeholder div is *replaced* with actual content,
            thus getting rid of unnecessary div element,
            and keeping HTML semantic.
        -->
        </main>
    </div>
</body>

</html>