<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/styles.css">
    <title>
        <!-- Will be inserted by [widgets.page-title] configuration in soupault.toml -->
    </title>
</head>

<body>
    <div>
        <!-- 
            This placeholder div is *replaced* with actual content,
            thus getting rid of unnecessary div element,
            and keeping HTML semantic.
        -->
    </div>
</body>

</html>