<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="placeholder-header"></div>

<main class="center" style="padding: 0 var(--s0);">
  <h2>Comments</h2>
  <script src="https://giscus.app/client.js"
          data-repo="justbhoot/justbhoot.github.io"
          data-repo-id="R_kgDOLEw7Mg"
          data-category="Announcements"
          data-category-id="DIC_kwDOLEw7Ms4CghhO"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</main>

</body>
</html>