<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>
  <div class="placeholder-header"></div>
  <main>
    <article>
    </article>
    <h2>Comments</h2>
    <script src="https://giscus.app/client.js" data-repo="jbhoot/jbhoot.github.io" data-repo-id="R_kgDOLEw7Mg"
      data-category="Announcements" data-category-id="DIC_kwDOLEw7Ms4CghhO" data-mapping="pathname" data-strict="1"
      data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme"
      data-lang="en" crossorigin="anonymous" async>
      </script>
    <script>
      var r = new XMLHttpRequest();
      r.addEventListener('load', function () {
        const count = JSON.parse(this.responseText).count
        const view_count_container_ele = document.createElement('p')
        view_count_container_ele.innerText = `Viewed ${count} times`
        const hgroup_ele = document.querySelector('.h-entry > hgroup')
        hgroup_ele.appendChild(view_count_container_ele);
      })
      r.open('GET', 'https://bhoot.goatcounter.com/counter/' + encodeURIComponent(location.pathname) + '.json')
      r.send();
    </script>
  </main>
</body>

</html>
