<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="box borderless center stack" style="--stack-gap: 0; --box-padding: 0;">
  <div class="box coloured invert position:relative">
    <div class="site-title-container">
      <div>
        <p class="site-title-wrapper">
          <!-- Content inserted by soupault widget -->
        </p>
        <aside class="social-links cluster no-touch">
          <!-- Content inserted by soupault widget -->
        </aside>
      </div>
      <div class="profile-pic-container">
        <!-- Content inserted by soupault widget -->
      </div>
    </div>

    <nav class="main-nav">
      <!-- Content inserted by soupault widget -->
    </nav>

    <div class="toc-wrapper">
      <div class="toc"></div>
    </div>
  </div>

  <main class="box borderless" style="--box-color-bg: white;">
  </main>
</div>
</body>
</html>