<html lang="en">

<head>
  <!-- content will be inserted by [widgets.populate-head] in soupault.toml -->
</head>

<body>

<div class="center stack box borderless" style="--stack-gap: 0; --box-padding: 0;">
  <div class="box coloured invert position:relative">
    <div class="h-card site-title-container">
      <div>
        <p class="site-title-wrapper">
          <!-- Content inserted by soupault widget -->
        </p>
        <aside class="social-links cluster no-touch">
          <!-- Content inserted by soupault widget -->
        </aside>
      </div>
      <div class="profile-pic-container">
        <!-- Content inserted by soupault widget -->
      </div>
    </div>

    <nav class="main-nav">
      <!-- Content inserted by soupault widget -->
    </nav>

    <div class="toc-wrapper">
      <div class="toc"></div>
    </div>
  </div>

  <main class="box borderless" style="--box-color-bg: white;">
    <h2>Comments</h2>
    <script src="https://giscus.app/client.js"
            data-repo="justbhoot/justbhoot.github.io"
            data-repo-id="R_kgDOLEw7Mg"
            data-category="Announcements"
            data-category-id="DIC_kwDOLEw7Ms4CghhO"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </main>
</div>
</body>
</html>